/* 全体デザイン */
#main {
    margin-bottom: 100px;
}

/* メイン要素 */
#content {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
}

/* 詳細ページへ戻るボタン */
#return_detail {
    text-align: left;
}

/* 詳細ページへ戻るボタンホバーアクション */
#return_detail:hover {
  cursor: pointer;
}

/* 画像追加ボタン */
#add_photo {
  width: 150px;
  background-color: #dbecce;
  text-align: center;
  border-radius: 20px;
  padding: 4px;
  margin: 20px auto;
  border: 1px solid #8bc163;
}

/* 画像追加ボタンカメラアイコン */
#add_photo i {
  margin-right: 8px;
  color: #fff;
}

/* 画像追加ボタンホバーアクション */
#add_photo:hover {
  cursor: pointer;
}

/* エラー文 */
#error_title, #error_img {
  color: red;
}

/* 入力項目枠 */
#album_add_container {
  padding: 8px;
  line-height: 28px;
  text-align: center;
  font-weight: bold;
  display:flex;
  flex-flow: column;
  color: #000;
  background: #FFF;
  border-radius: 10px;
  border: 1px solid #000;
  margin: 20px 0;
  padding: 20px;
}

/* タイトル入力インプット */
#input_title {
  margin-bottom: 40px;
}

/* 投稿用メモ */
#input_memo, #memo {
  padding: 8px;
  line-height: 28px;
  height: 150px;
  text-align: left;
  font-weight: bold;
  color: #000;/*文字色*/
  background: #FFF;
  border: solid 1px #000;
  border-radius: 10px;/*角の丸み*/
}

/* 投稿用画像親要素 */
div figure{
    display: inline-block;
    margin: 10px;
}


/* 追加予定画像親要素 */
.add_img {
  position: relative;
  width: 50px;
}

/* アルバム追加画像削除ボタン */
.rmb {
  position: absolute;
  z-index: 100;
  right: 3px;
  top: 10px;
  padding: 0;
  color: red;
}

/* 投稿用画像 */
figure img {
  width: 50px;
}

/* 画像選択ボタンスタイル */
#imgs {
  display: none;
}

/* アップロードボタン */
#upload {
    width: 90%;
    background-color: #FEBD58;
    text-align: center;
    border-radius: 20px;
    padding: 8px 20px;
    margin: 20px auto;
}

/* アップロードボタンホバーアクション */
#upload:hover {
    cursor: pointer;
}

#count_text, #upload_text, .img_box {
  text-align: center;
}