/* アルバム一覧要素 */
#content {
    position: relative;
    padding-bottom: 200px;
}

/* アルバム一覧 */
#title {
    margin: 20px;
}

h4 {
    text-align: center;
}

/* アルバム追加ボタン */
#album_add {
    color: #fff;
    background-color: #eb6100;
    font-size: 20px;
    bottom: 100px;
    position: fixed;
    padding: 4px 16px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4vh;
    width: 80vw;
}

/* アルバム追加ボタンホバーアクション */
#album_add:hover {
    color: #fff;
    background: #fa8d3f;
    cursor: pointer;
}

/* 投稿した画像の一枚目 */
#firstImg {
    width: 60px;
    margin-top: 8px;
}

/* 投稿したアルバムリスト */
#albumList {
    width: 100%;
    display: flex;
    display: -ms-flexbox; /* IE10 */
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}
  
/* 投稿したアルバムリスト子要素 */
#albumList li {
    list-style: none;
    padding: 4%;
    margin: 1%;
    height: 20vh;
    width: 30%;
    text-align: center;
    border: solid .5px grey;
    border-radius: 30px;
    box-shadow: 3px 3px 15px 0 rgb(0 0 0 / 20%);
}
  
/* アルバムリスト子要素ホバーアクション */
#albumList li:hover {
    opacity: 0.7;
    cursor: pointer;
}

@media screen and (min-width: 481px) {
	/* 481px以上に適用されるCSS（タブレット用） */

}
@media screen and (min-width: 960px) {
	/* 960px以上に適用されるCSS（PC用） */
    /* アルバム追加ボタン */
    #album_add {
        font-size: 24px;
        margin: 20px;
        padding: 8px 160px;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        border-radius: 100vh;
    }
}

