#main {
  overflow-y: scroll;
}

/* スクロール非表示 */
#main::-webkit-scrollbar{
  display:none;
}

#bottom {
  /* 子要素のタイトルを aboslute 配置するため必要 */
  padding: 20px;
  margin-bottom: 100px;
}

/*スクロールバー非表示（Chrome・Safari）*/
#bottom::-webkit-scrollbar{
  display:none;
}

/* ユーザー情報 */
#userInfo {
  display: flex;
  margin: 0 auto 20px;
  width: 500px;
}

/* ユーザー名 */
.userName {
  padding-left: 12px;
  line-height: 50px;
  line-height: 50px;
  height: 50px;
  margin-left: 8px;
}

/* ユーザープロフィール画像 */
#userInfo img{
  width: 50px;
  height: 50px;
  border-radius: 50%; 
}

/* ユーザー名、派遣会社名フォントサイズ */
.userName, #company {
  font-size: 1em;
}

/* 派遣会社テキスト */
#company {
  margin-top: 30px;
}

/* 投稿情報 */
#postData {
  background-color: #fff;
  text-align: center;
  height: auto;
  margin:auto;
  padding: 20px 40px 40px 40px;
  border: 1px solid grey;
  box-shadow: 0 0 8px gray;
  position: relative;
}

/* 評価枠 */
#rating {
  padding-top: 20px;
  display:inline-block;
  display: flex;
  justify-content: center; /*左右中央揃え*/
  align-items: center;     /*上下中央揃え*/
}

/* 評価星画像 */
#rating img {
  width: 20px;
}

/* 評価テキスト */
#rating h6 {
  height:60px;
  width: 100px;
  line-height:60px;
  display: inline;
}

/* レビューコメント */
#comment {
  margin-top: 20px;
  text-align: left;
  overflow-wrap: break-word;
}

/* 3点リーダー中身ul テキスト */
.select_menu p {
  display: inline;
}

/* 3点リーダー中身li アイコン */
.pop_up {
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 12px;
}

/* 3点リーダー中身li アイコンホバーアクション */
.pop_up:hover {
  cursor: pointer;
  color: #ff9d00;
  background-color: rgba(249, 248, 244, 0.523);
  border-radius: 50%;
}

/* 3点リーダー */
.menu {
  position: absolute;
  top:10px;
  right:10px;
}

/* 3点リーダーli */
.menu li {
  list-style: none;
  text-align: left;
  padding: 4px 8px;
}

/* 3点リーダー中身li ホバーアクション */
.menu li:hover {
  cursor: pointer;
}

/* 3点リーダーul */
.menu ul {
  display: none;
  width: 220px;
}

/* 3点リーダー中身ul */
.select_menu {
  border: solid 1px #dfdfdf;
  border-radius: 4px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #fff;
}

/* 編集アイコン、報告アイコン */
.report, .block {
  color: #949494;
}

/* 3点リーダー中身li ホバーアクション */
.select_menu li:hover {
  cursor: pointer;
  color: black;
  background-color: #f0f0f0;
}

/* 3点リーダー中身ul liアイコン */
.select_menu i {
  padding-right: 10px;
}

/* 編集アイコン、報告アイコン */
.fa-pen, .fa-flag {
  color: coral;
  display: inline;
}

/* 削除アイコン、ブロックアイコン */
.fa-trash, .fa-ban {
  color: red;
}

/* ブロックダイアログ */
.noTitleDialog .ui-dialog-titlebar {
  display:none;
}

@media screen and (min-width: 481px) {
	/* 481px以上に適用されるCSS（タブレット用） */
  #bottom {
    /* 子要素のタイトルを aboslute 配置するため必要 */
    padding: 20px;
    margin-bottom: 100px;
    padding-bottom: 30px;
  }
}
@media screen and (min-width: 960px) {
	/* 960px以上に適用されるCSS（PC用） */
  #main {
    display: flex;
  }

  #postData {
    width: 500px;
  }

  #company {
    font-size: 1.5em;
  }

  #bottom {
    /* 子要素のタイトルを aboslute 配置するため必要 */
    padding: 20px;
    margin-bottom: 100px;
    padding-bottom: 30px;
  }
}
