
#footer {
    background-color: #CFE0BA;
    position: fixed;
    bottom: 0; /*下に固定*/
    left: 0;
    padding: 4px;
    width: 100%;
    text-align: center;
}

#ios_badge:hover {
    cursor: pointer;
}

#android_badge:hover {
    cursor: pointer;
}