/* 481px以下に適用されるCSS（スマホ用） */
#main {
  text-align: center;
  z-index: 3;
  position: relative;
  display: flex;
  flex-flow: column;
  min-height: 100vh;
} 


/* ローディングアニメーション */
#loading {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: #fff;
  opacity: .4;
  text-align: center;
}
#loading_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#loading .kvArea {
  width: 100%;
}
#loading .kvArea .img_box {
  text-align: center;
}
#loading .kvArea .img_box img {
  max-width: 100%;
  height: auto;
}
.fadeUp {
  animation-duration: 1.2s;
  animation-delay: 1.2s;
  animation-fill-mode: forwards;
  opacity: 1;
}

/* search */

#period {
  width: 100%;
}

.select_btn {
  display: flex;
  flex-wrap: wrap;
  margin: 50px 0 50px 0;
}

.searchItem {
  border: solid 1px #000;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 4px;
  width: 200px;
}

.searchItem:hover {
cursor: pointer;
}

form {
  margin: auto;
}

#submit {
  border: solid 1px #000;
  border-radius: 20px;
  padding: 10px 100px;
}

#submit:hover {
  cursor: pointer;
}

.icon img {
  width: 100px;
}

.select {
  background-color: #7fc53a;
}

@media screen and (min-width: 481px) {
	/* 481px以上に適用されるCSS（タブレット用） */

}
@media screen and (min-width: 960px) {
	/* 960px以上に適用されるCSS（PC用） */

  /* search */
  #postList > #period {
    width: 90%;
  }
}
