#main {
  padding-top: 100px;
}

#title {
  padding-bottom: 30px;
}

.title_font {
  text-align: center;
}

.label {
  text-align: left;
}

#input_box {
  margin: 0 auto;
  text-align: center;
  padding: 20px 0 40px 0;
  margin: 20px auto 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

#input {
  padding: auto;
  margin: auto;
  width: 350;
}


input {
  width: 210px;
  height: 1.8em;
  text-align: left;
}



#input_form {
  margin-bottom: 20px;
  margin: 10px  auto 20px;
  position: relative;
}

/* パスワード表示アイコン */
.toggle-pass{
  position:absolute;
  top: 73%;
  right: 8px;
  transform: translateY(-50%);
}

#sign_up {
  margin: auto;
  background-color: #7fc53a;
  border-radius: 10px;
  padding: 4px;
  width: 100%;
  text-align: center;
}

#sign_up:hover {
  cursor: pointer;
  background-color: #6cb226;
}

@media screen and (min-width: 481px) {
	/* 481px以上に適用されるCSS（タブレット用） */
  #main {
    padding-bottom: 100px;
  }
  
  #input_box {
    width: 600px; 
    border: 1px solid grey;
    border-radius: 20px;
    box-shadow: 0 3px 25px 0 rgba(0, 0, 0, .5);
  }
}
@media screen and (min-width: 960px) {
	/* 960px以上に適用されるCSS（PC用） */

  #main {
    padding-bottom: 100px;
  }
  #input_box {
    width: 600px; 
    border: 1px solid grey;
    border-radius: 20px;
    box-shadow: 0 3px 25px 0 rgba(0, 0, 0, .5);
  }
}