#top {
  padding: 20px 0 50px 0;
}

.title_font {
  text-align: center;
}

.label {
  text-align: left;
}

#input_box {
  margin: 0 auto;
  text-align: center;
  padding: 20px 0 40px 0;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

#input {
  padding: auto;
  margin: auto;
  width: 350;
}


input {
  width: 210px;
  height: 30px;
  text-align: left;
}



#input_form {
  margin-bottom: 20px;
  width: 210px;
  margin: 10px  auto 20px;

}

#sign_up {
  margin: 60px auto 0 0;
  background-color: #7fc53a;
  border-radius: 10px;
  padding: 10px;
  width: 200px;
  text-align: center;
}

#sign_up:hover {
  cursor: pointer;
  background-color: #6cb226;
}

@media screen and (min-width: 481px) {
	/* 481px以上に適用されるCSS（タブレット用） */
  #input_box {
    width: 600px; 
    border: 1px solid grey;
    border-radius: 20px;
    box-shadow: 0 3px 25px 0 rgba(0, 0, 0, .5);
  }
}
@media screen and (min-width: 960px) {
	/* 960px以上に適用されるCSS（PC用） */
  #input_box {
    width: 600px; 
    border: 1px solid grey;
    border-radius: 20px;
    box-shadow: 0 3px 25px 0 rgba(0, 0, 0, .5);
  }
}