/* 全体デザイン */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#main {
  padding-top: 100px;
}

#bottom {
  overflow-y: scroll;
}

/* スクロール非表示 */
#bottom::-webkit-scrollbar{
  display:none;
}

 /* fontデザイン */
  
h1 {
  font-size: 3em;
  font-weight: normal;
}

h2 {
  font-size: 2.5em;
  font-weight: normal;
}

h3 {
  font-size: 2em;
  font-weight: normal;
  font-family: 'ヒラギノ明朝 Pro W3', 'Hiragino Mincho Pro', '游明朝','Yu Mincho', '游明朝体', 'YuMincho','ＭＳ Ｐ明朝', 'MS PMincho', serif;
}

h4 {
  font-size: 1.5em;
  font-weight: normal;
}

h5 {
  font-size: 1.2em;
  font-weight: normal;
}

h6 {
  font-size: 1em;
  font-weight: normal;
  font-family: 'ヒラギノ丸ゴ ProN','Hiragino Maru Gothic ProN',sans-serif;
}

input {
  padding: 4px;
}

p {
  font-size: .8em;
  font-weight: normal;
  font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
}  

a {
  text-decoration: none;
}

#error {
  color: red;
  text-align: left;
}

/* ローディングアニメーション */
#loading {
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #fff;
  z-index: 555;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: .7;
}

#loading_box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 481px) {
	/* 481px以上に適用されるCSS（タブレット用） */
  #main {
    display: flex;
    flex-direction: column;
    max-width: 2000px;
    height: 100vh;
    margin: 0 auto;
    padding-top: 100px;
    text-align: center;
  }
}
@media screen and (min-width: 960px) {
	/* 960px以上に適用されるCSS（PC用） */
  body {
    margin: auto;
  }
  
  ::before , ::after {
    box-sizing: inherit;
  }
  button {
    margin: 0;
    padding: 0;
    border: 0;
    border-radius: 0;
    background: transparent;
    color: inherit;
    vertical-align: middle;
    text-align: inherit;
    font: inherit;
    -webkit-appearance: none;
    appearance: none;
  }
  
  #main {
    display: flex;
    flex-direction: column;
    max-width: 2000px;
    height: 100vh;
    margin: 0 auto;
    /* padding: 40px 20px; */
    text-align: center;
  }

  /* ローディングアニメーション */
  #loading {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: #fff;
    opacity: .4;
    text-align: center;
  }
  #loading_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  #loading .kvArea {
    width: 100%;
  }
  #loading .kvArea .img_box {
    text-align: center;
  }
  #loading .kvArea .img_box img {
    max-width: 100%;
    height: auto;
  }
  .fadeUp {
    animation-duration: 1.2s;
    animation-delay: 1.2s;
    animation-fill-mode: forwards;
    opacity: 1;
  }
}

