  /* プロフィール */

  /* 全体 */
  #content {
    display: flex;
    margin: 8px;
    flex-direction: column;
    overflow-x: scroll;
  }

  /*スクロールバー非表示（Chrome・Safari）*/
  #content::-webkit-scrollbar{
    display:none;
  }
  
  /* プロフィール枠 */
  #right {
    width: 100%;
  }

  /* プロフィール */
  #userInfo {
    max-width: 100%;
    margin: auto;
    padding: 20px;
    border: .5px solid grey;
    border-radius: 10px;
    box-shadow: 3px 3px 15px 0 rgb(0 0 0 / 20%)
  }

  /* ユーザープロフィール画像左寄せ */
  #top {
    text-align: left;
  }

  /* 自分の投稿 */
  #left {
    margin-top: 32px;
    text-align: left;
    margin-bottom: 120px;
  }

  /* リストタグ */
  #left li {
    list-style: none;
    display: inline;
    padding: 4px 16px;
  }
  
  /* プロフィール画像 */
  #profile {
    width: 50px;
    height: 50px;
    border-radius: 50%; 
  }

  /* ユーザー名、編集アイコン親要素 */
  #name_edit {
    display: flex;
    justify-content: space-between;
  }
  
  /* ユーザー名 */
  #userName {
    text-align: left;
    display: inline;
  }
  
  /* 編集ボタン */
  i {
    margin: 0 0 0 auto;
    padding-right: 10px;
    color: orange;
  }
  
  /* プロフィールコメント */
  #comment {
    text-align: left;
    padding: 10px 0;
    overflow-wrap:break-word;
  }
  
  /* アカウント削除ボタン */
  .delete_account {
    color: #fff;
    background-color: red;
    padding: 10px 20px;
    margin: 50px auto;
    border-radius: 10px;
  }
  
  /* アカウント削除ボタンホバーアクション */
  .delete_account:hover {
    cursor: pointer;
  } 
  
  /* アカウント削除ボタンテキスト */
  .delete_account h5 {
    display: inline;
    color:#fff;
  }

  /* 編集ボタン */
  #edit {
    margin-top: 16px;
  }
  
  /* 編集ボタンホバーアクション */
  #edit:hover {
    cursor: pointer;
  }
  
  /* アカウント削除ボタンホバーアクション */
  #delete:hover {
    cursor: pointer;
  }

  /* rightリストselect */
  .select {
    border-bottom: 3px solid #D6E9C3;
  }

  /* 自分の投稿 */

  #work_btn:hover {
    cursor: pointer;
  }

  #company_btn:hover {
    cursor: pointer;
  }

  #items {
    padding: 4px;
  }

  /* 投稿なしの場合テキスト */
  #no_item {
    text-align: center;
    margin-top: 10%;
  }

  .post {
    padding: 4%;
    margin: 8px;
    height: 150px;
    border: solid;
    border-radius: 30px;
    border: solid 0.5px grey;
    box-shadow: 3px 3px 15px 0 rgb(0 0 0 / 20%);
  }

  .post:hover {
    cursor: pointer;
  }

  /* 投稿画像 */
  .post_img {
    height: 70px;
  }
  
  #rating {
    padding: 10px 0;
    display: flex;
    justify-content: center;
  }
  
  #rating img {
    width: 24px;
    height: 24px;
  }
  
  #comment {
    text-overflow: ellipsis;
  }

  @media screen and (min-width: 481px) {
    /* 481px以上に適用されるCSS（タブレット用） */
    /* 全体 */
    #content {
      flex-direction: row;
    }

    /* プロフィール枠 */
    #right {
      width: 400px;
    }

    /* プロフィール */
    #userInfo {
      height: 400px;
    }

    /* 自分の投稿 */
    #left {
      margin: 0 0 80px 40px;
    }

    /* 自分の投稿枠 */
    .post {
      margin: 20px;
      height: 250px;
      width: 400px;
    }

    /* 投稿画像 */
    .post_img {
      height: 150px;
    }

    /* 自分の投稿 */
    #items {
      padding: 24px;
    }
  }
  @media screen and (min-width: 960px) {
    /* 960px以上に適用されるCSS（PC用） */
    /* 全体 */
    #content {
      flex-direction: row;
    }

    /* プロフィール枠 */
    #right {
      width: 400px;
    }

    /* プロフィール */
    #userInfo {
      height: 400px;
    }

    /* 自分の投稿 */
    #left {
      margin: 0 0 80px 40px;
    }

    /* 自分の投稿枠 */
    .post {
      margin: 20px;
      height: 250px;
      width: 400px;
    }

    /* 投稿画像 */
    .post_img {
      height: 150px;
    }

    /* 自分の投稿 */
    #items {
      padding: 24px;
    }
  }
  
  