

#main {
  padding: auto;
  text-align: left;
  height: 500px;
  margin: 40px auto;
}
#report_list{
  list-style: none;
  height: 40px;
  line-height: 40px;
}

#title {
  height: 70px;
  line-height: 70px;
  padding-left: 16px;
  font-size: 20px;
}

.report_post {
  border: solid 1px #000;
  border-radius: 4px;
  margin: 16px;
  padding: 10px;
}

@media screen and (min-width: 481px) {
	/* 481px以上に適用されるCSS（タブレット用） */
  

  #main {
    margin-top: 40px;
    width: 80%;
    border: solid 1px #000;
    border-radius: 4px;
  }
}
@media screen and (min-width: 960px) {
  #main {
    margin-top: 40px;
    width: 600px;
    border: solid 1px #000;
    border-radius: 4px;
  }
}