#main {
  display: flex;
  justify-content: center;
  margin: 40px auto;
  padding: 20px;
  height: auto;
  width: fit-content;
  text-align: center;
  flex-direction: column;
}

#top {
  /* 子要素のタイトルを aboslute 配置するため必要 */
  padding: 20px;
  max-width: 600px;
}

#area, #industry, #company, #period {
  margin-bottom: 40px;
  text-align: left;
}

#area {
  overflow: hidden;
}

#example {
  color: grey;
  text-align: left;
}

h3 {
  display: inline;
  padding-right: 8px;
}

h6 {
  display: inline-block;
  width: 80px;
}

#period_text {
  display: inline;
}

.hide {
  display: none;
}

.noHide{
  display: inline;
}

#startYear, #startMonth, #endYear, #endMonth{
  border-right:none;
  border-left:none;
  border-top:none;
}

#content {
  text-align: left;
  margin: 4px 0 ;
}

#comment {
  border-radius: 10px;
  width: 100%;
  padding: 8px;
}

#comment::placeholder {
  color: rgb(188, 188, 188);
  font-size: .5em;
}

#img_label {
  margin: 40px 0 20px 0;
}

#img_label:hover {
  cursor: pointer;
}

#target {
  color: #B20000;
  font-size: 20px;
  display:none;
}

div #parent {
  height: 100px;
  width: 100px;
  border-radius:10px;
}

#select_photo {
  margin: 20px;
  display: flex;
}

#select_photo img {
  position: absolute;
  height: 100px;
  width: auto;
  border-radius:10px;
}

li {
  list-style: none;
}

#close {
  position: relative;
  width: 100%;
  top: 4px;
  right: -16px;
  color: red;
  float: left;
}

.add_btn {
  width: 100px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 4px 16px;
  margin: auto;
  border-radius: 4px;
  background-color: #7fc53a;
  border: 1px solid #6cb226;
}

.add_btn:hover {
  cursor: pointer;
}

#image_text {
  display: inline-block;
  width: auto;
}

#icon {
  color: #7fc53a;
}

#add_icon {
  color: red;
}

#minus_icon {
  color: blue;
  padding-left: 8px;
}

#period_check {
  margin: 20px 8px;
}

#flex {
  display: inline-block;
  vertical-align: top;
}

#input_box {
  display: inline-block;
}

#occupation_detail {
  width: 150px;
}

#detail {
  margin-right: 4px;
  width: auto;
  display: inline;
}

@media screen and (min-width: 481px) {
	/* 481px以上に適用されるCSS（タブレット用） */
  #main {
    width: 600px;
    border: solid 1px grey;
    border-radius: 10px;
    padding: 40px;
  }

  select {
    height: 40px;
  }

  #occupation_add, #occupation_minus {
    font-size:1.5em;
  }
}

@media screen and (min-width: 960px) {
	/* 960px以上に適用されるCSS（PC用） */
  #main {
    border: solid 1px grey;
    border-radius: 10px;
    padding: 40px;
  }

  div #parent {
    height: 100px;
    width: 150px;
  }
}