#main {
  margin: 20px 0 40px 0;
  height: auto;
}

#top {
  /* 子要素のタイトルを aboslute 配置するため必要 */
  padding: 20px;
  max-width: 600px;
}

#userInfo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#postData {
  background-color: #e9f9d9;
  text-align: center;
  margin:auto;
  padding: 20px;
  border-radius:10px;
  position: relative;
}

#postImg {
  width: auto;
  height: 60px;
  padding: 2px;
}

.space_top, #sex_age{
  margin: 30px 0 4px 0;
}

#comment {
  background-color: rgb(236, 250, 254);
  padding: 10px;
  margin-top: 40px;
  border-radius:10px;
  text-align: left;
}

#memo {
  margin-top: 20px;
}

.grey_font {
  color: #515151;
}

.menu {
  float: right;
  position: absolute;
  top:10px;
  right:10px;
  text-align: right;
}

.menu li {
  list-style: none;
  text-align: left;
  padding: 10px;
}
.menu li a {
  display: block;
  width: 220px;
  padding: 10px;
}

.menu ul {
  display: none;
  width: 220px;
}

.select_menu {
  border: solid 1px #000;
  border-radius: 4px;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: #fff;
}

.select_menu i {
  padding-right: 10px;
}

.fa-pen, .fa-flag {
  color: coral;
  display: inline;
}

.fa-trash, .fa-ban {
  color: red;
}

.pop_up:hover {
  cursor: pointer;
}

.select_menu h6 {
  display: inline;
}

.select_menu li:hover {
  cursor: pointer;
}

/* ブロックダイアログ */
.noTitleDialog .ui-dialog-titlebar {
  display:none;
}

@media screen and (min-width: 481px) {
	/* 481px以上に適用されるCSS（タブレット用） */

  #top {
    margin: auto;
    width: 80%;
  }

  #postImg {
    width: auto;
    height: 150px;
    padding: 4px;
  }
}
@media screen and (min-width: 960px) {
	/* 960px以上に適用されるCSS（PC用） */
  #main {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  #postData {
    width: 500px;
  }

  #postImg {
    width: auto;
    height: 150px;
    padding: 4px;
  }
}