#main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 40px auto;
  padding: 40px;
  height: auto;
  width: fit-content;
  text-align: center;
}

#top {
  /* 子要素のタイトルを aboslute 配置するため必要 */
  padding: 20px;
  max-width: 600px;
}

#area, #industry, #company, #period {
  margin-bottom: 40px;
  text-align: left;
}

#area {
  overflow: hidden;
}

#example, #content {
  color: grey;
  text-align: left;
}

#occupation_detail {
  margin-left: 4px;
  width: 70%;
}

h5 {
  display: inline;
  padding-right: 8px;
}

h6 {
  width: 400px;
  color: grey;
  text-align: left;
}

#period p {
  display: inline;
}

#not_change {
  color: red;
  padding-bottom: 10px;
}

.hide {
  display: none;
}

.noHide{
  display: inline;
}

#startYear, #startMonth, #endYear, #endMonth{
  border-right:none;
  border-left:none;
  border-top:none;
}

#content {
  text-align: left;
  margin: 4px 0 ;
}

#comment {
  border-radius: 10px;
  padding: 8px;
  margin-bottom: 20px;
}

#comment::placeholder {
  color: grey;
  font-size: .5em;
}

#img_label {
  margin: 40px 0 20px 0;
}

#target {
  color: #B20000;
  font-size: 20px;
  display:none;
}

div #parent {
  height: 100px;
  width: 150px;
  border-radius:10px;
}

#select_photo {
  margin: 20px;
  display: flex;
}

#select_photo img {
  position: absolute;
  height: 100px;
  width: auto;
  border-radius:10px;
}

li {
  list-style: none;
}

#close {
  position: relative;
  width: 100%;
  top: 4px;
  right: -16px;
  color: red;
  float: left;
}

.update_btn {
  width: 100px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  padding: 4px 16px;
  margin: auto;
  border-radius: 4px;
  background-color: #6cb226;
}

.update_btn:hover {
  cursor: pointer;
  background-color: #7fc53a;
}

#image_text {
  display: inline;
}

#icon {
  color: #7fc53a;
}

#add_icon {
  color: red;
}

#minus_icon {
  color: blue;
  padding-right: 8px;
}

#period_check {
  margin: 20px 8px;
}

#postImg {
  height: 100px;
  width: auto;
  margin-right: 10px;
}

@media screen and (min-width: 481px) {
	/* 481px以上に適用されるCSS（タブレット用） */
  #main {
    border: solid 1px grey;
    border-radius: 10px;
    padding: 40px;
    width: 80%;
  }
}
@media screen and (min-width: 960px) {
  #main {
    width: 600px;
    border: solid 1px grey;
    border-radius: 10px;
    padding: 40px;
  }
}