{%- extends "layout.html" %}
{%- block content %}
  <link rel="stylesheet" href="css/login.css">
  <div class="box">
    <div id="top"><h3 class="title_font">Login</h3></div>
    <button id="appleid-signin"> Sign in with Apple</button>
    <!-- <button id="apple_sign_in" >Sign in with Apple</button> -->
    <div id="google_btn"></div>
    <div id="input">
      <p id="error"></p>
      <div id="input_form">
      <p class="label">メールアドレス</p>
      <input type="email" id="email"
        pattern=".+@globex\.com" required>
      </div>
      <div id="input_form">
        <p class="label">パスワード</p>
        <input type="password" id="pass" name="password" minlength="8" required>
      </div>
      <div id="sign_in">ログイン</div>
    </div>
    <a href="sign_up.html" class="sign_up">新期登録はこちら</a>
  </div>
  <script type="text/javascript" src="https://appleid.cdn-apple.com/appleauth/static/jsapi/appleid/1/ja_JP/appleid.auth.js"></script>
  <script src="js/login.js"></script> 
{%- endblock %}

